<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--/* jQuery */-->
<script type="text/javascript" src="../static/jquery/jquery-1.11.3.min.js" th:src="@{/jquery/jquery-1.11.3.min.js}"></script>
<!--/* BootStrap */-->
<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
<!--/* 全局样式 */-->
<link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}"/>
